html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.bus-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.bus-grid {
    display: grid;
    grid-template-columns: 60px 60px 40px 60px 60px;
    gap: 15px;
    background-color: #f1f3f5;
    padding: 30px 20px;
    border-radius: 20px 20px 5px 5px;
    border: 2px solid #ccc;
    justify-content: center;
}

    .bus-grid .asiento:nth-child(4n+3) {
        grid-column-start: 4;
    }

.asiento {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: transform 0.2s;
    user-select: none;
}

.asiento-libre {
    background-color: #548383;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

    .asiento-libre:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }

.asiento-ocupado {
    background-color: #dc3545;
    color: white;
    cursor: not-allowed;
    opacity: 0.6;
}